<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><^>{{ .Site.Title }}</title>
    {{ $css := resources.Get "css/style.css" }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" type="text/css" media="screen">
  </head>
  <body>

    <header>
      <h1 class="header-align-class"><a href="/" class="header-align-anchor">💜 🪸</a></h1>
    </header>
    
    <main>

      <ul class="no-bullets">
        {{ range .Pages }}
          <li>
            <div class="topbar">▼ {{ .Date | time.Format ":date_short"}} {{ .Params.Emoji }}</div>
            <div class="listcore">
            <a href="{{ .RelPermalink }}" class="listie">💿</a> {{ .Title }}
            </div>
          </li>
        {{ end }}
      </ul>
    </main>

    <footer>
      <small>made with the songs of the undersea isopods. <a href="/">return home</a> </small>
    </footer>
  </body>
</html>
