<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><^>{{ .Site.Title }}</title>
    {{ $css := resources.Get "css/style.css" }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" type="text/css" media="screen">
  </head>
  <body>

    <header>
      <h1>{{ .Site.Title }}</h1>
    </header>
    
    <main>
      <h2>{{ .Title }}</h2>
      <div class="topbar">
        💧 coral-log/home
      </div>
      <div class="core">
      {{ .Content }}
      </div>
      <a href="/guides/" class="listie">💿 access disk 𓍢ִ໋🌷͙֒</a>
    </main>

    <footer>
    </footer>
  </body>
</html>


